<!-- Lightbox -->
<div id="lightbox" class="lightbox">
    <div class="relative max-w-4xl mx-auto m-8">
        <!-- Close Button -->
        <button 
            onclick="closeLightbox()" 
            class="absolute -top-4 -right-4 w-12 h-12 bg-white rounded-full flex items-center justify-center z-20 hover:bg-gray-100 transition-colors"
        >
            <i class="fas fa-times text-navy text-xl"></i>
        </button>
        
        <!-- Content Container -->
        <div id="lightboxContent" class="bg-white rounded-lg overflow-hidden">
            <!-- Content will be dynamically loaded here -->
        </div>
    </div>
</div>
